<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/Styles') %>

    <script src="/scripts/vista.js" defer></script>
</head>
<body>
    <!-- Incluir el menú de navegación desde la carpeta partials -->
    <%- include('partials/navigation') %>

    <!-- Video de fondo -->
    <video id="fondo-video" autoplay muted loop>
    
        Tu navegador no soporta el video.
    </video>

    <!-- Contenido de la página "Conócenos" -->
    <section class="section">
        <h2>Conócenos</h2>
        <p>Somos una tienda especializada en tenis de alta calidad y estilo.</p>
    </section>

    <%- include('partials/footer') %>

</body>
</html>
