<nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/Productos">Productos</a>
        </li>
        <li>
            <a href="/Galeria">Galeria</a>
        </li>
        <li>
            <a href="/Conocenos">Conocenos</a>
        </li>
        <li>
            <a href="/Carrito">Carrito</a>
        </li>
    
    </ul>
</nav>